.navbar{
    background-color:#1C1C1C;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: headlinerno45;
    /* border: 5px solid blue; */
    /* padding:px; */
    flex-wrap: wrap;
}
.navbar a{
    text-decoration:none;
    color: #f5f5f5;

    
}

.logo{
  
  /* background-color: aqua; */
    width: 100%;
  color: white;
    /* background-color: aqua; */
  font-size: 2rem;
  letter-spacing: 8px;
  height: 80px;
    /* border: 1px solid blueviolet; */
    /* background-color: coral; */
  animation-name: float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
    
  }
.logo a {
background-color: #1C1C1C; 
    
  }
  
  .links{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

.links ul {
  width: 100%;
  list-style: none;
  /* background-color: blue; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

    
}
.links ul li{
    letter-spacing: 1px;
    font-size: 1.5rem;
    /* margin-right: 20px; */
    color: aliceblue;
    /* background-color:aquamarine; */
}



  /* CSSbind*/

  .logo:hover{
    animation: linkAnimation 13s;

  }
  .links ul li:hover {
    animation: linkAnimation 13s;
}

@keyframes linkAnimation {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}